.landing{
    background-image: url("./assets/photo-1.jpg");
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
}
.btn:hover{
    background-color: white;
}